fieldset button {
    width: 23%;
    height: 58px;
    background-color: white;
    border: 1px solid #c9c5dc;
    border-radius: 7px;
    color: #3f3b50;
    cursor: pointer;
    font-size: 13px;
    margin-right: 1%;
}

fieldset button:hover {
    background-color: #5d58e8;
    color: white;
    border-color: #5d58e8;
}

fieldset button span:first-child {
    display: block;
    font-size: 20px;
    margin-bottom: 3px;
}